* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
	background: url("../img/bg_field.jpg") no-repeat;
	background-size: cover;
	font-family: sans-serif;
}

.wrapper {
	width: 840px;	
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}

header .wrapper {
	margin-top: 20px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.menu {
	height: 110px;
	width: 400px;
	background: url("../img/menu.png") no-repeat;
	background-size: 100% 100%;
	border-radius: 10px;
	position: relative;
}

#play {
	width: 120px;
	height: 38px;
	margin-left: 30px;
	background: url("../img/play.png") no-repeat center;
	background-size: 120px 45px;
	outline: none;
	border-radius: 19px;
	border: none;
	box-shadow: 2px 2px 2px 0px #fff inset, -2px -2px 2px 1px rgb(112, 30, 0) inset;
	cursor: pointer;
}

#play:not(.disabled):active {
	box-shadow: -1px -1px 2px 1px rgb(112, 30, 0) inset, 1px 1px 2px 0px #fff inset;
}

.music {
	font-size: 3em;
	color: rgb(210, 95, 14);
	width: 20px;
	margin-left: 30px;
	cursor: pointer;
}

.sun-points {
	width: 50px;
	height: 21px;
	position: absolute;
	top: 81px;
	left: 33px;
	text-align: center;
	line-height: 20px;
	font-family: 'Boogaloo', cursive;
	font-weight: 500;
	font-size: 20px;
}

.wallnut-card, .pea-shooter-card, .sunflower-card {
	width: 72px;
	height: 88px;
	position: absolute;
	top: 10px;
}

.wallnut-card {
	background: url("../img/wallnut-card.png") no-repeat;
	background-size: 100% 100%;
	left: 128px;
}

.pea-shooter-card {
	background: url("../img/pea-shooter-card.png") no-repeat;
	background-size: 100% 100%;
	left: 216px;
}

.sunflower-card {
	background: url("../img/sunflower-card.png") no-repeat;
	background-size: 100% 100%;
	left: 305px;
}

/*///////////grid////////////*/

.grid {
	/* height: 500px; */
	display: grid;
	/* grid-template-columns: repeat(8, 105px); */
	grid-template-rows: repeat(5, 105px);
	margin-top: 30px;
}

.row {
	display: grid;
	grid-template-columns: repeat(8, 105px);	
}

.row:nth-child(odd) {
	background: url("../img/grass.png");
	background-size: 210px;
}

.row:nth-child(even) {
	background: url("../img/grass-even.png");
	background-size: 210px;
}

.cell {
	border: 1px solid black;
}

.image {
	height: 80%;
	margin-bottom: 10px;
}

.image-wrapper {
	width: 18%;
	min-width: 115px;
	height: 100%;
	display: flex;
	flex-direction: column;
	position: relative;
	left: calc(100% - 18%);
}

.image-zombie-strong {
	background: url("../img/zombie-strong.gif") no-repeat center;
	background-size: contain;
}

.image-zombie-mad {
	background: url("../img/zombie-mad.gif") no-repeat center;
	background-size: contain;
}

.image-zombie-dead {
	background: url("../img/zombie-dead.gif") no-repeat center;
	background-size: contain;
}

.hidden {
	visibility: hidden;
}

/* .percent {
	width: 30%;
	height: 7%;
	margin: 7px auto;
	border: 1.5px solid #cacacc;
	background-color: #eaeaec;
	color: #0c0c0c;
	text-align: center;
	padding-top: 0.8%;
} */