* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
	background: url("../img/bg_field.jpg") no-repeat;
	background-size: cover;
	font-family: sans-serif;
}

.wrapper {
	width: 80%;
	min-width: 550px;
	height: 35%;
	min-height: 140px;
	margin: 200px auto 0px;
	display: flex;
	flex-direction: column;
}

.field {
	height: 60%;
	background: url("../img/grass.png");
}

.image {
	height: 80%;
	margin-bottom: 10px;
}

.image-wrapper {
	width: 18%;
	min-width: 115px;
	height: 100%;
	display: flex;
	flex-direction: column;
	position: relative;
	left: calc(100% - 18%);
}

.image-zombie-strong {
	background: url("../img/zombie-strong.gif") no-repeat center;
	background-size: contain;
}

.image-zombie-mad {
	background: url("../img/zombie-mad.gif") no-repeat center;
	background-size: contain;
}

.image-zombie-dead {
	background: url("../img/zombie-dead.gif") no-repeat center;
	background-size: contain;
}

.hidden {
	visibility: hidden;
}

.percent {
	width: 30%;
	height: 7%;
	margin: 7px auto;
	border: 1.5px solid #cacacc;
	background-color: #eaeaec;
	color: #0c0c0c;
	text-align: center;
	padding-top: 0.8%;
}

.menu {
	height: 13%;
	width: 70%;
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
}

.button {
	height: 15px;
	box-sizing: content-box;
	border: 1px solid #969697;
	background-color: #bababd;
	color: #0c0c0c;
	font-size: 18px;
	text-align: center;
	padding: 2% 5%;
	box-shadow: 1px 1px 2px 0px #fff inset, -1px -1px 2px 1px #888787 inset;
	display: inline-block;
	line-height: 15px;
	cursor: pointer;
}

.button:not(.disabled):active {
	background-color: #cacacc;
}

.button:nth-child(1), .button:nth-child(2) {
	min-width: 110px;
}

.disabled {
	background-color: #e3e3e4;
	color: #b1b1b3;
}